@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }
}

.movie-card img {
    width: 100%;

}

.movie-card {
  flex-direction: column;
  border: 2px solid lightgray;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 25px 15px;
  border-radius: 1%;
  width: 15%;
}