@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }
}

.movie-card button {
  all: unset;
  background-color: transparent;
}

.movie-card img {
    max-width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.movie-card {
  flex-direction: column;
  border: 2px solid lightgray;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
  display: flex;
  margin: 25px 15px;
  border-radius: 5%;
  width: clamp(10vw, 20em, 100vw); 
  transition: transform 0.3s ease-out;
}

.movie-card:hover {
  cursor: pointer;
  transform: translateY(-15px);
  border: 4px solid gray;

}

.movie-rating {
  padding: 0 15%;
}

.like-and-watch {
  display:inline-flex;
  justify-content: space-around;
  align-items: center;
}

.like-and-watch h1 {
  transform: scale(1.5);
  margin: 0;
}

.watch:hover {
  color: blue;
  background-color: transparent;
}

.like:hover {
  color: red;
  background-color: transparent;
}

.watched {
  color: blue;
}

.liked {
  color: red;
}







