@media (max-width: 600px) {

  .search-bar {
    flex-direction: row;
    gap: 1vw;
    margin-right: 1vw;
  }

  .search-bar form {
    flex-direction: row;
  }
}

.sort-movies {
  min-width: 4vw;
  margin-left: 1vh;
}