@media (max-width: 600px) {

  .search-bar {
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.sort-movies {
  min-width: 40px;
  margin-left: 10px;;
}
